body{
    font-family: 'Open Sans', sans-serif;

}

header{
    display: flex;
    flex-direction: column;
}

.top-line{
    z-index: 100;
    position: fixed;
    display: inline-flex;
    height: 70px;
    background: #1d2124;
    width: 100%;
    color: white;
    justify-content: space-between;
}

ul{
    text-transform: uppercase;
}

li{
    display: inline-flex;
    padding-left: 36px;
    padding-top: 30px;

}

a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.search{
float: right ;
    background: #171a1c;
}

.search:active{
    user-input: active;
}

i{
    z-index: 110;
    position: absolute;
    background: #171a1c;
    float: right ;
    right:27px;
    /*height: 70px;
    width: 70px;*/
    padding-top: 27px;
    padding-bottom: 27px;
}

input{
    z-index: 150;
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    width: 70px;
    height: 70px;
    background: #171a1c;
    border:none;
    transition: 0.2s;
}
.search:hover i{
    visibility: hidden;
}

input:focus{
    opacity: 1;
    width: 300px;
    outline: none;
}

.logo{
    display: inline-flex;
}

.logo-text{
    padding-top: 25px;
    padding-left: 6px;
}

.imglogo{
    padding: 20px;
    background: #1a1d20;
}



.latest{
    font-family: 'Open Sans', sans-serif;
width: 100%;
    display: flex;
    background: url(../images/header-bg.jpeg) fixed bottom;
    height: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 27px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.btns{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
}

button{
    cursor: pointer;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-left: 20px;
    width: 160px;
    height: 55px;
    border-radius: 3px;
    transition: 0.2s;
}

.sub{
    background: #89ca62;
}
.sub:hover{
    background: #529249;
}

.best{
    background: #14b9d5;
}

.best:hover{
    background: #1490ad;
}

.posts{
    display: flex;
    justify-content: space-between;
}
.col:last-child{
    padding-bottom: 70px;
}
.col{
    width: 370px;
    display: flex;
    flex-direction: column ;
}
.posts_content>h1{
    padding: 55px;
    display: flex;
    justify-content: center;
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.img_block{
    border-bottom: 1px solid #ebebeb ;
    margin-bottom: 39px;
}


 .text{
     display: flex;
     height: 60px;
     color: #353a3d;
     background: white;
     justify-content: center;
     align-items: center;
     padding: 20px auto;
     font-family: 'Open Sans', sans-serif;
     font-weight: bold;
     font-size: 18px;
 }

 .backgray{
     background: #f2f2f2;
 }

.posts_content{
    margin: 0 auto;
    width: 1170px;
}
 .clients{
     height: 586px;
     background: url(../images/parallax-bg.jpeg) fixed top;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3px 3fr;
    grid-row-gap: 55px;
     justify-items: center;
}
 .clients>h1{
     font-family: 'Open Sans', sans-serif;
     font-weight: bold;
     font-size: 32px;
     align-self:end;
 }

 .logos{
     margin: 0 auto;
     width: 1170px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     justify-items: center;
 }

 .line{
     width: 60px;
     background: #169cb4;
 }
.grid > * { min-width: 0; }

.rated {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.rated>h1, .posts_content>h1{
    align-self: center;
    justify-self: center;
    color: #18b4cf;
    font-weight: bold;
}

.rowimg {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.rowimg>img{
width: 100%;
}

.hot_news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 260px 1fr 260px;
    grid-row-gap: 60px;
    padding-bottom: 72px;
}

.linenews {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 279px;
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
}

.long{
    display: grid;
    grid-template-columns: 483px 1fr;
    grid-template-rows: 1fr;
}

.text_block>h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:18px ;
    color: #353a3d;
}

.text_block{
    padding: 40px 22px 38px 30px;
    text-align: right;
    background: #f9f7f7;
}

.description{
    line-height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
    color: #666e72;
}

.short>.text_block{
    padding: 0;
    height: 47px;
}
.short>.text_block>h2{
    text-align: center;
    padding-top: 11px;
}

.linenewsr {
    width: 100%;
    display: grid;
    grid-template-columns:279px 1fr ;
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
}

.quad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 61px;
    grid-row-gap: 38px;
}

.quadblock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 259px 1fr;
}

.quadblock>.text_block{
    padding: 20px 28px 26px 23px;
}

footer{
    background: #1d2124;
}

.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px;
    align-items: center;
}

.ftext{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.content>img{
    grid-column-start: 3;
}

a:hover{
    transform: scale(1.02);
}